
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.env

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# Data files
*.csv
*.xlsx

# OS files
.DS_Store
Thumbs.db
